%div{:id => "#{dom_id(project)}", :class => 'row align-items-start'}

.row.justify-content-evenly.align-items-center
  .col
    %div{ :class => 'card' }

      %div{ :class => 'card-body' }

        %h1= project.name
        %div{ :class => "btn-group", :role => "group" }

          = link_to 'Zpět na výpis', projects_path, { class: 'btn btn-outline-primary' }

          = link_to 'Upravit', edit_project_path(@project), { class: 'btn btn-outline-primary' }

          = button_to 'Smazat', @project, method: :delete, data: {confirm: "Opravdu ?"}, class: 'btn btn-danger'

%hr
%div.p-3
  %h4 Popis:
  %p{ :style => "text-align: justify", :class => "text-break" }
    = project.description
