<div id="<%= dom_id project %>" class="row align-items-start">
  <div class="col">
    <p>
      <strong>Name:</strong>
      <%= project.name %>
    </p>
  </div>
  <div class="col">
    <p class="text-break">
      <strong>Description:</strong>
      <%= project.description %>
    </p>
  </div>

  <div class="col">

    <%= link_to "Edit this project",
    edit_project_path(@project),
    { class: "btn btn-primary" } %>

    <%= link_to "Back to projects",
    projects_path,
    { class: "btn btn-outlined-secondary" } %>

    <%= button_to "Destroy this project",
    @project,
    method: :delete,
    class: "btn btn-danger" %>

  </div>

</div>
