%p.text-success
= notice

%h1 Projects

= link_to "Nový projekt", new_project_path, { class: "btn btn-info" }

#projects.table-responsive 

  %table.table.align-middle

    %thead

      %tr
        %th{ :scope => "col" } #

        %th{ :scope => "col" } Název

        %th{ :scope => "col" } Popis projektu

        %th{ :scope => "col" } Datum přidání

        %th{ :scope => "col" } Počet úkolů

    %tbody.table-group-divider
      
      - @projects.each do |project|

        %tr

          %th{ :scope => "row" }
            = project.id

          %th= project.name

          %td{ :style => "word-wrap: break-word;min-width: 160px;max-width: 300px;" } 
            = project.description

          %td= project.created_at.strftime("%d.%m/%Y")

          %td{ :scope => "col" }
            = project.id

          %td= link_to "Zobrazit", project, { class: "btn btn-sm btn-outlined-secondary"  }

            
          %td= link_to 'Upravit', edit_project_path(project), { class: 'btn btn-sm btn-outlined-secondary' }


          %td= button_to 'Smazat', project, method: :delete, class: 'btn btn-sm btn-danger'
